pytube
openai-whisper
streamlit
torch
transformers
datasets
fastapi
uvicorn
supabase
accelerate
google-api-python-client
progressbar2
yt-dlp # install if you have a method to process an age-restricted video
